*{
	margin: 0px;
	padding: 0px;
}
body{
	min-height: 100vh;
	background-image: linear-gradient(#f3f0d8 , #ffeeb8);
	font-family: "plus jakarta sans", sans-serif;
}
#banner-contianar{

	/*margin-top: 100px;
	margin-bottom: 120px;
	margin-left: auto;
	margin-right: auto;*/
	
	padding: 20px 30px;
	margin: 100px auto 120px auto;
	width: 87.5%;
	border:2px solid #efcb6710;
	border-radius: 40px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2V3ZAqG-87e1G5Mger_MrF7vXoV9MrmNiHw&s);


}

.banner-contant h1 {
	font-size: 55px;
	font-weight: bold;

	
}
.banner-contant h1 span{
	color: rgb(167, 7, 2);


}
.banner-contant p{
	font-weight: medium;
	font-size: 18px;
	color: gray;
	display: flex;
}
.image{
	width: 380px;
	height: 320px;
	background-color: red;
	display: flex;
}
.banner-contant{
	display: flex;
	justify-content: space-between;
	width: auto;
}
.button-one{
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	background-color: #000000ec;
	color: rgb(255, 218, 218);
	border-color: rgb(238, 26, 26);
	border-width: 5px;
	cursor: pointer;
	font-size: 16px;
}
.button-two{
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	background-color: #bc0000ec;
	color: rgb(255, 255, 255);
	border-color: rgb(238, 174, 26);
	border-width: 2.5px;
	cursor: pointer;
	font-size: 13px;
}
#main-service{
	padding: 0px;
	margin: 0px auto 120px auto;
	width: 87.5%;

}
#heading-content{
	text-align: center;

}
#heading-content h3{
	text-align: center;
	color: rgb(244, 8, 0);
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#heading-content h2{
	font-weight: bold;
	margin-bottom: 30px;

}
#service-card{
	display: flex;
	justify-content: space-around;
	gap: 50px;
}
.service-card-one img{
	width: 80px;
	margin-bottom: 30px;


}
.service-card-two img{
	width: 60px;
	margin-bottom: 30px;

}
.service-card-three img{
	width: 80px;
	margin-bottom: 30px;

}
.service-card-one {
	background-color: white;
	padding: 30px 60px;
	text-align: center;
	width: 300px;
	border-radius: 30px;



}
.service-card-two {
	background-color: white;
	padding: 30px 60px;
	text-align: center;
	width: 350px;
	border-radius: 30px;

}
.service-card-three{
	background-color: white;
	padding: 30px 60px;
	text-align: center;
	width: 350px;
	border-radius: 30px;

}
.service-card-one h2{
	font-weight: semibold;
	font-size: 28px;
	margin-bottom: 20px;
}
.service-card-two h2 {
	font-weight: semibold;
	font-size: 28px;
	margin-bottom: 20px;
}
.service-card-three h2{
	font-weight: semibold;
	font-size: 28px;
	margin-bottom: 20px;
}
.service-card-one p{
	color: gray;

}
.service-card-two p{
	color: gray;

}
.service-card-three p{
	color: gray;

}
#main-history{
	padding: 0px;
	margin: 0px auto 120px auto;
	width: 87.5%;

}
.main-image {
	width: 400px;
	border-radius: 30px;
	display: flex;
}
.site-image{
	width: 120px;
}
#history-card{
	background-color: white;
	padding: 30px;
	border-radius: 20px;
	display: flex;
}

.history-card-container{
	display: flex;
}
.history-image{
	display: flex;
	gap: 20px;

}
#secend-btn{
	border-radius: 18px;
	background-color: rgba(246, 2, 2, 0.821);
	border-width: 8px;
	border-color: #efd57e;
	color: rgb(255, 255, 255);
	font-size: 14px;
	padding: 5px 10px;
	margin: 10px;
	cursor: pointer;
}
.history-contant p{
	color: grey;
}
#main-food{
	padding: 0px;
	margin: 0px auto 120px auto;
	width: 87.5%;
	
}
#food-card-container{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;	

}
#food-card-container h2{
	background-color: white;
	padding: 25px;
	border-radius: 30px;
	font-size: 30px;
	color: rgb(122, 0, 0);

}
#review-container{
	background-color: white;
	width: 87.5%;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 20px;
	text-align: center;	
	margin-left: 120px;
	margin-right: 120px;
}
#review-container h2{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 10px;
	
}
.head-review{
	color: rgb(0, 0, 0);
	margin-top: 20px;
	margin-bottom: 40px;
}
.title-bar{
	color: gray;
	text-align: center;
}
.star-img{
	width: 200px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
	
}
.last-container h2{
	text-align: center;
	margin-bottom: 50px;

}
.review-image{
	display: flex;
	text-align: center;
	margin-left: 600px;
}
.review-image{
	display: flex;
}
.last-img{
	width: 200px;
	height: 60px;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 250px;
	margin-right: 0px;
	padding: 20px;
}
#review-container-2{
	margin-top: 10px;
	background-color: red;
}
.last-img-2{
	width: 200px;
	height: 60px;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 250px;
	margin-right: 0px;
}
#second-review{
	background-color: rgb(255, 213, 106);
	color: red;

}